* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}


/* --- Header style start --- */

header {
  padding: 20px 35px;
  background-color:#2E2D46;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: lightcoral;
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: #F5F6F5;
  }

  header a:hover {
    color:lightcoral;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
  }
/* --- Header style end --- */


/* --- Hero style start --- */

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-subtitle {
float: right;
}

.hero-subtitle h2 {
  color: #2E2D46;
  font-size: 18px;
  text-shadow: 2px 2px whitesmoke;
}

/* --- Hero style end --- */

/* --- Section styles --- */

section {
  padding: 20px 30px;
  display: flex;
  flex-wrap:flex;
  align-items: center;
  justify-content: space-between; 
}

section h2 {
  margin-bottom: 10px;
  flex: 1 20%;
}

.content {
  margin: 0px auto 10px auto;
  padding-bottom: 20px;
  width: 80%;
  border-bottom: 4px solid lightcoral;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-info {
  flex: 2 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* --- About style start --- */
.about {
  flex: 2 80%;
}

.about-section {
  margin-top: 30px;
}


.about img {
  margin-bottom: 20px;
  float:right;
  margin-left: 20px;
  margin-right: 20px;
}

/* --- Projects style start --- */

.grid-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  grid-gap: 20px;
  grid-auto-flow: dense;
}


.grid-item span {
text-align: center;
background-color: whitesmoke;
width: 100%;
display: block;
padding: 5px;
color: black;
}

.grid-item a {
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  display: block;
  padding: 5px;
  color: black;
  }

.grid-item:hover {
  background-color:(240, 240, 240);opacity:0.6;
}

.grid-item {
  border: 1px solid lightgray;
}

.grid-item.horiseon {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  justify-content: center;
  object-fit: cover;
}

.grid-item.runbuddy {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  justify-content: center;
  object-fit: cover;
}

.grid-item.project3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-content: center;
  object-fit: cover;
}

.grid-item.project4 {
  grid-column: 1 / span 1;
  grid-row: 3 /  span 1;
  justify-content: center;
  object-fit: cover;
}

.grid-item.project5 {
  grid-column: 2 / span 1;
  grid-row: 3 /  span 1;
  justify-content: center;
  object-fit: cover;
}


/* --- Contact style start --- */

.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact ul li {
  color: black;
  margin-right: 20px;
}

.contact ul li a {
  color: black;
}

.contact ul li a:hover {
  color: coral;
}

/* --- Footer style start --- */
footer {
  background-color: #2E2D46;
  text-align: center;
  padding: 5px;
}

footer h4 {
  color: darkgray;
  font-size: 13px;
  font-weight:normal;
}

footer a {
color: whitesmoke;

}

/* --- Footer style end --- */


/* --- Media query styles --- */

@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;   
      justify-content: center; 
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }
  
  header nav ul li a {
      font-size: 18px;
  }

  .about p {
    margin-left: 5px;
  }
}
/* Media query style for tablets and smaller than 768. */
@media screen and (max-width: 768px) {
  
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 6fr;
      width:100%;
  }

  .grid-item {
      grid-column: 1;
  }

  .grid-item.horiseon {
      grid-row: 1;
      grid-column: 1;
  }

  .grid-item.runbuddy {
      grid-column: 1;
      grid-row: 2;
  }

  .grid-item.project3 {
      grid-column: 1;
      grid-row: 3;
  }

  .grid-item.project4 {
      grid-column: 1;
      grid-row: 4;
  }

  .grid-item.project5 {
      grid-column: 1;
      grid-row: 5
  }
  .contact ul li {
    margin-top: 10px;
  }
  
  .contact ul {
    margin-left: 10px;
  }

} 